.card-producto {
  color:#333 ;
  padding: 25px;
  margin: 20px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff;
  
}

.card-producto-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-producto-nombre {
  font-size: 24px;
  margin: 0.5rem 0;
  color:#B988B8;
}

.card-producto-descripcion {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

.card-producto-precio {
  font-weight: bold;
  margin: 0.5rem 0;
}

.card-producto-boton {
  color: #fff;
  padding: 0.5rem 1rem;
  background-color: #B988B8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.card-producto-boton:hover {
  background-color: #555;
}
